#header {
	-fx-background-color: green;
	-fx-alignment: center;
}

#header .label {
	-fx-font-size: 32;

}


.content HBox {
	-fx-alignment: center;
}

.footer {
	-fx-alignment: top-right;
}


.error {
  -fx-border-color: red;
  -fx-text-box-border: red;
  -fx-focus-color: red;
}

.success {
  -fx-border-color: green;
  -fx-text-box-border: green;
  -fx-focus-color: green;
}

.header-log {
	-fx-font-size: 24;
	-fx-background-color: red;
}